{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar-top-fixed.css' %}" rel="stylesheet">
	<title>Item List</title>
</head>
{% include 'navbar.html' %}
<body>
    <div class="header">{{title}}</div>
<div class = "container">
    <div class="display_table">
        <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
                <input type="submit" value='Search'/>
        </form>
        <br>
        <a class="btn btn-primary" href="{% url 'add_order'%}" role="button">ADD ORDER</a>
    <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>CUSTOMER</th>
            <th> UPDATE</th>
            <th> PAYMENT STATUS </th>
            <th>DELETE </th>
            <th> READ</th>
          </tr>
        </thead>
      {% for instance in queryset %}
          <tr>
            <td>{{instance.id}}</td>
            <td>{{instance.customer}}</td>
            <td>{{instance.paid}}</td>
            <!-- <td>{{instance.game_title}}</td>
            <td>{{instance.price}}</td>
            <td>{{instance.manufacturer}}</td> -->
            <td><a href="{% url 'update_order' instance.id %}">Update</a></td>
            <td><a href="{% url 'delete_order' instance.id %}">Delete</a></td>
            <td><a href="{% url 'order_detail' instance.id %}">Read</a></td>
          </tr>
      {% endfor %}
    </table>
</div><!--End of display table-->
</div>



</body>
</html>