{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar-top-fixed.css' %}" rel="stylesheet">
	<title>Item List</title>
</head>
{% include 'navbar.html' %}
<body>
    <div class="header">{{title}}</div>
<div class = "container">
    <div class="display_table">
        <form method='POST' action=''>{% csrf_token %}
            {{form|crispy}}
                <input type="submit" value='Search'/>
        </form>
        <br>
    <table class='table'>
        <thead>
          <tr>
            <th>COUNT</th>
            <th>ORDER</th>
            <th>STOCK</th>
            <th>QUANTITY</th>
            
          </tr>
        </thead>
          <tr>
            <td>{{queryset.id}}</td>
            <td>{{queryset.order}}</td>
            <td>{{queryset.stock}}</td>
            <td>{{queryset.quantity}}</td>
          </tr>
    </table>
</div><!--End of display table-->
</div>



</body>
</html>